<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/todoInfo.css">
  <link rel="apple-touch-icon" href="/img/favicon-apple.png" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <link id="listUrl" th:data-src="'/'" data-src="/main.html"/>
  <title>ToDo</title>
</head>
<body>
  <header>TO DO</header>
  <section class="todo-wrap">
    <div class="todo-info">
      <div>
        <p>제목</p>
        <br>
        <p th:text="${title}">와아아앙ㅇ</p>
      </div>
      <div>
        <p>내용</p>
        <br>
        <p th:text="${content}">와아아ㅏㅇㅇ</p>
      </div>
    </div>
    
    <div class="btn-wrap">
      <button type="button">MODIFY TODO</button>
      <button type="button">DELETE TODO</button>
      <button type="button">LIST TODO</button>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/todoInfo.js"></script>
</body>
</html>